<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<div class="container jumbotron">
    <div>
        <a th:href="@{/bestelling/create}"><button type="button" class="btn btn-primary">Create</button></a>
        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">Datum</th>
                <th scope="col">Betaald</th>
                <th scope="col">Naam verantwoordelijke</th>
                <th scope="col">Code tafel</th>
                <th scope="col">Totaal</th>
                <th scope="col">Details</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bestelling: ${bestellingList}">
                <td th:text="${bestelling.getDatum().getTime()}"></td>
                <td th:text="${bestelling.isBetaald()}"></td>
                <td th:text="${bestelling.getZaalpersoneel().getNaam()}"></td>
                <td th:text="${bestelling.getTafel().getCode()}"></td>
                <td th:text="${bestelling.getTotaal()}"></td>
                <td><a th:href="@{/bestelling/detail(id=${bestelling.getId()})}">Details van bestelling</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <form action="/zoeken" method="get">
            <button type="submit" class="btn btn-primary">Zoeken</button>
        </form>
    </div>
    <div>
        <form action="/bestellingen">
            <button type="submit" value="manage" name="action" class="btn btn-primary">Bestellingen overzicht</button>
        </form>
    </div>
    <footer>
        <div>
            <hr>
            <p>Naam: Verbist</p>
            <p>Voornaam: Yori</p>
            <p>Klas: 2ITF APP-BI A</p>
            <p>Studentennummer: r0697651</p>
            <hr>
        </div>
    </footer>
</div>
</body>
</html>
