<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container jumbotron">
    <form action="/zoekenIndex" method="post">
            <div class="form-group">
                <label for="tafel">Tafel:</label>
                <select class="form-control" id="tafel" name="tafel">
                    <option value=""></option>
                    <option th:each="bestelling: ${bestellingList}" th:text="${bestelling.getTafel().getCode()}" th:value="${bestelling.getTafel().getCode()}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="datum">Datum:</label>
                <input type="date" class="form-control" id="datum" name="datum">
            </div>
            <div class="form-group">
                <label for="totaal">Totaal bedrag:</label>
                <input type="number" step="0.1" min="0" class="form-control" id="totaal" name="totaal">
            </div>
            <button type="submit" class="btn btn-primary">Zoeken</button>
        </form>
    </div>

</body>
</html>
