<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Examen index</title>
</head>
<body>
<div class="container jumbotron">

    <footer>
    <div>
        <hr>
        <p>Naam: Verbist</p>
        <p>Voornaam: Yori</p>
        <p>Klas: 2ITF APP-BI A</p>
        <p>Studentennummer: r0697651</p>
        <hr>
    </div>
</footer>
</div>

</body>
</html>
